pandas
numpy
matplotlib
seaborn
missingno
requests
scikit-learn
psycopg2-binary
python-dotenv
fastapi
passlib
pydantic
uvicorn
python-jose
asyncpg
PyJWT
passlib[bcrypt]
python-multipart
pytest
httpx
pytest-mock # for mocking HTTP requests in tests - temporaire
pytest-cov
jinja2