



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*==========IMPORT POLICES==========*/

/*==========CHARTE GRAPHIQUE==========*/

:root {
  /*COULEURS*/
  --background-color: #F8F1E4 ;
  --secondary-color:#121211;
  --third-color :#17A2B8;

    /*notifications*/
  --alert:#FD7E14;
  --error:#9B1C21;
  --sucess:#17A2B8;


  /*POLICES*/
  --text-color: #0000;

  /* Titres */
  --title-font-family: "Cursive", sans-serif;
  --title-font-family-bold: "Cursive", sans-serif, bold;
  --title-font-family-italic: "Cursive", sans-serif, italic;

  --title-font-size: 1.2rem;

  /* Générique */
  --main-font-size: 0.8rem;
  --main-font-family-sansSerif: "Verdana", "Geneva", "Tahoma", sans-serif;

  /* Espace */
  --spacing-little: 0.12rem;
  --spacing-medium: 0.3rem;
  --spacing-big: 0.75rem;
}

/*========== CSS BALISE HTML==========*/

* {
  padding: 0rem;
  margin: 0rem;
}

body {
  margin: 0rem;
  background-color: var(--background-color);
}

h1 {
  font-family: var(--title-font-family);
  font-size: calc(1.5 * --title-font-size);
  color: var(--main-color);
  margin: 2.5rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--main-color);
  margin: 0.5rem;
}

h3 {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--main-color);
  margin: 0.5rem;
}

p {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  color: var(--text-color);
  margin: 0.5rem;
}
 /* BUTTON */

button {
  padding: 0.5rem;
  background-color: var(--third-color);
  cursor: pointer;

  /* texte */
  font-family: var(--title-font-family);
  color: var(--background-color);
  text-shadow: -0.13rem color var(--text-color);
  text-decoration: none;
  /* border */
  border-radius: 1rem;
  cursor: pointer;
}


button:hover {
  border: none;
  color: var(--background-color);
  background-color:var(--secondary-color);
}

ul,
li,
a {
  text-decoration: none;
}




